{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
<div class="container contact">
  <br><br>
  <h2 class="text-center">CONTACT INFORMATION</h2>
  <br>
  <hr>
  <br>
    <div id="contactme" class="text-center">
      <p><span class = "text-center">To contact me call:</span> +254751579367 / +254708898890</p>
      <p><span class = "text-center">or Email me at:</span> husseinfuaad@hotmail.com</p>
    </div>

    <br>
    <hr>
    <br>

    <div class="contacts text-center">
      <p id="social" >Social Media contacts:</p>
      <a href="https://www.facebook.com/search/top/?q=Hussein%20Fuaad" target=_blank><img src="https://www.freeiconspng.com/uploads/facebook-icon-3.png" id="me"></a>
      <a href="https://www.instagram.com/_.fuaad_/" target=_blank><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" id="me"></a>
      <a href="https://www.instagram.com/_.fuaad_/" target=_blank><img src="https://www.freeiconspng.com/uploads/twitter-icon-11.png" id="me"></a>
      <a href="https://www.instagram.com/_.fuaad_/" target=_blank><img src="https://www.freeiconspng.com/uploads/linkedin-icon-19.png" id="me"></a>
    </div>
</div>
{%endblock%}
